<div style="border: 1px solid black;background-color: cornsilk">
  <input
    type="radio"
    name="GenderFilter"
    value="All"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="OnRadioButtonSelectionChange()"
  />
  <span>{{ "All(" + all + ")" }}</span>
  <input
    type="radio"
    name="GenderFilter"
    value="male"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="OnRadioButtonSelectionChange()"
  />
  <span>{{ "Male(" + male + ")" }}</span>
  <input
    type="radio"
    name="GenderFilter"
    value="female"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="OnRadioButtonSelectionChange()"
  />
  <span>{{ "Female(" + female + ")" }}</span>
</div>
